PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/careertrack
JWT_SECRET=supersecretkey

# For production, update:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/careertrack
# JWT_SECRET=<generate-strong-secret>
