.job-card {
  background: rgb(185, 100, 100);
  padding: 16px;
  border-radius: 14px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.job-card h3 {
  margin: 0;
}

.job-card p {
  margin: 4px 0 0;
  color: rgb(168, 51, 51);
  font-size: 14px;
}

.job-card button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 15px;
}
